/* Set Repeated Color Values Across Stylesheet */

:root {
    --primary-color: #31343d;
    --secondary-color: #445876;
    --tertiary-color: #92cccd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;
}

/* Main Body Styling */

body {
    color: var(--primary-color);  
    font-size: 100%; 
    width: 100%;
}

/* Header & Nav Styling */

header {
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav li {
      margin: 5px 10px;
  }
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 0.9rem;
    border-bottom: var(--tertiary-color) 3px solid;
  }

  header nav ul li a:hover {
      color: var(--secondary-color);
      background-color: var(--tertiary-color);
  }

/* Set Blue Box Text & Background Colors */

.boxcolor {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    position: relative;
  }

/* Set Styling Specific to Name Box */

#namebox {
    height: 70%;
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#namebox h1 {
    margin-right: 10px;
    font-size: 1.65rem;
}

/* Set Styling Specific to Jazzy Quote */

#quote {
    height: 30%;
    width: 40%;
    float: right;
    margin-right: 5%;
    margin-top: -75px;
    padding: 5px;
    z-index: 10;
    font-size: 0.95rem;
    box-shadow: 5px 5px 3px rgb(49 52 61 / 0.5);
}

/* Set Text Positioning of Quote */

.quote {
    position: relative;
    text-align: center;
}

/* Set Border, Sizing, Padding, Margin on Left Sidebar */

.sidebars {
    color: var(--secondary-color);
    width: 15%;
    text-align: right;
    border-right: solid 2px var(--secondary-color);
    padding: 20px 0 20px 0;
    margin-top: 10px;
}

.sidebars h2 {
    font-size: 1.5rem;
}

/* Set Additional Size, Spacing, Margins, Color & Floats on Text */

.text-spacing-left {
    padding-right: 10px;
    margin-top: 10px;
}

/* .text-spacing-left h2 {
    font-size: 2vw;
} */

.text-spacing-right {
    color: var(--secondary-color);
    width: 60%;
    padding-top: 20px;
    margin-left: 20px;
    float: left;
}

/* .text-spacing-right p {
    font-size: 1rem;
} */
/* Set Size & Corner Border on Image */

.text-spacing-right img {
    width: 25%;
    border-radius: 10%;
    float: left;
    padding-right: 8px;
}

.project img {
    border-radius: 0;
    border: var(--tertiary-color) 3px solid;
    padding: 0;
    opacity: 0.5;
}

.project img:hover {
    opacity: 1.0
}

.project a {
    text-decoration: none;
}

.lg-img img {
    width: 97%;
    margin-left: 5px;
}

#sm-proj {
    margin-top: -50px;
}

/* #large {
    display: inline;
} */

.sm-img img {
    max-width: 48%;
    margin-top: 5px;
    margin-left: 5px;
}

.sm-img {
    position: relative;
}

.text-block {
        height: 9%;
        width: 35%;
        margin-left: 8px;
        /* margin-top: -75px; */
        padding: 5px 20px 5px 5px;
        z-index: 10;  
        clear: both;   
        position: relative;
        bottom: 100px;
        overflow: auto;
        box-shadow: 5px 5px 3px rgb(49 52 61 / 0.5);
    }

.text-block-left-sm {
       position: absolute;
       margin-left: 8px; 
       padding: 5px 30px 5px 5px;
       z-index: 10;
       top: 20px;
       box-shadow: 5px 5px 3px rgb(49 52 61 / 0.5);
    }

.text-block-right-sm {
        position: absolute;
        padding: 5px 30px 5px 5px;
        z-index: 10;
        top: 20px;
        right: 29px;  
        box-shadow: -5px 5px 3px rgb(49 52 61 / 0.5);    
     }

.clear {
    clear: both;
}

#article h3 {
    font-size: 1.35rem;
}

#article p {
    font-weight: lighter;
    /* font-size: 1.55vw; */
}

/* #nav2 {
    display: block;
} */

footer {
     margin-bottom: 30px;
}

#contact-info {
    align-items: center;
    justify-content: space-around;
}

#contact-info ul {
    align-items: center;
    list-style: none;
    padding-left: 20px;
    /* flex-wrap: wrap;
    justify-content: space-evenly; */
  }

  #contact-info li {
      margin: 5px 10px;
  }

  #contact-info ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 0.9rem;
    border-bottom: var(--secondary-color) 3px solid;
    text-decoration: none;
    color: var(--secondary-color);
  }

#contact-info ul li a:hover {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}


  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

/* nav {
    
} */

header nav ul {
    display: inline-block;
    width: 200px;
    margin: 10px 0 10px 0;
    overflow: auto;
}

header nav ul li a {
    border-bottom: none;
    font-size: 0.8rem;  
    padding: 10px 0 10px 0;
}

#namebox {
    display: block;
    margin: auto;
    float: left;
    text-align: right;
    padding-top: 12px;
    width: 100%;
}

#quote {
    margin-right: 55%;
}

.quote img {
    height: 100px;
}

.flex {
    display: inline-block;
}

.sidebars { 
       width: 100%;
       text-align: center;
       border-bottom: solid 2px var(--secondary-color);
       border-right: none;
       justify-content: center;
       flex-direction: column;
       margin-left: 10px;
       margin-right: 10px;
       padding: 10px 0 10px 0;
   }

.text-spacing-right {
    width: 100%;
    float: none;
   }

#contact-me {
    width: 100%;
}

#contact-info ul {
    margin-top: 20px;
}
 
#contact-info ul li a {
    border-bottom: none;
}
}
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

.text-block {
     margin: auto;
     text-align: center;
     bottom: 150px;
     width: 100%;
}

.sm-img {
    width: 100%;
    float: right;
}

.sm-img img {
    width: 100%;
    clear: both;
}

.text-block-left-sm {
    margin: auto;
    position: relative;
    display: inline-block;
    width: 45%;
}

.text-block-right-sm {
    margin: auto;
    position: relative;
    right: 0;
    box-shadow: 5px 5px 3px rgb(49 52 61 / 50%);
    display: inline-block;
    width: 45%;
}


}
