/* Set Repeated Color Values Across Stylesheet */

:root {
    --primary-color: #31343d;
    --secondary-color: #445876;
    --tertiary-color: #92cccd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;
}

/* Main Body Styling */

body {
    color: var(--primary-color);   
}

/* Header & Nav Styling */

header {
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
  }

  header nav li {
      margin: 5px 10px;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: var(--tertiary-color) 3px solid;
  }

/* Set Blue Box Text & Background Colors */

.boxcolor {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
  }

/* Set Styling Specific to Name Box */

#namebox {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#namebox h1 {
    margin-right: 10px;
}

/* Set Styling Specific to Jazzy Quote */

#quote {
    height: 50px;
    width: 300px;
    float: right;
    margin-right: 50px;
    margin-top: -75px;
    padding: 5px;
    z-index: 10;
}

/* Setting Height and Max Width on Hero Image */

hero img {
    max-width: 100%; 
    height: auto;
}

/* Set Text Positioning of Quote */

.quote {
    position: relative;
    text-align: center;
}

/* Set Positioning of Quote Box */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Set Border, Sizing, Padding, Margin on Left Sidebar */

.sidebars {
    color: var(--secondary-color);
    width: 15%;
    text-align: right;
    vertical-align: center;
    border-right: solid 2px var(--secondary-color);
    padding: 20px 0 20px 0;
    margin-top: 10px;
}

/* Set Additional Size, Spacing, Margins, Color & Floats on Text */

.text-spacing-left {
    padding-right: 10px;
    margin-top: 10px;
}

.text-spacing-right {
    color: var(--secondary-color);
    width: 60%;
    padding-top: 20px;
    margin-left: 20px;
    float: left;
}

.text-spacing-right p {
    font-size: 1.8vw;
}
/* Set Size & Corner Border on Image */

.text-spacing-right img {
    width: 150px;
    border-radius: 10%;
    float: left;
    padding-right: 8px;
}
