/* set repeated color values through stylesheet */

:root {
    --primary-color: #31343d;
    --secondary-color: #445876;
    --tertiary-color: #92cccd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* Nav Menu & Header*/

/* header {
    height: 50px;

} */
header {
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}
/* 
header nav li {
    list-style: none;
} */

/* nav li a {
    color: var(--tertiary-color);
    font-size: 10pt;
    float: right;
    padding-right: 20px;
    text-decoration: none;
    vertical-align: center;
} */

body {
    color: var(--primary-color);   
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
  }
  
  /* header nav {
    margin: 7px 0;
  } */
  
  header nav ul {
    /* display: flex;
    flex-wrap: wrap; */
    list-style: none;
  }

  header nav li {
      display: inline-block;
      margin: 5px 10px;

  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: var(--tertiary-color) 3px solid;
  }

.boxcolor {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
  }

#namebox {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#namebox h1 {
    margin-right: 10px;
}

#quote {
    height: 50px;
    width: 300px;
    float: right;
    margin-right: 50px;
    margin-top: -75px;
    padding: 5px;
}

hero img {
    max-width: 100%; 
    height: auto;
}

.test {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about-me {
    color: var(--secondary-color);
    width: 20%;
    text-align: right;
    vertical-align: center;
    border-right: solid 2px var(--secondary-color);
    padding: 20px 0 20px 0;
    float: left;
    margin-top: 10px;
}

.text-spacing {
    padding-right: 10px;

}


